{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<main class="mainLegals">
    <h1>Mentions légales</h1>
        <div class="blocsLegals">
        <div class="blocLeft">
            <h2>Editeur du site</h2>
            <p>Madame Julia LEGRAND</p>
            <p>7 avenue Gabrielle</p>
            <p>44380 PORNICHET</p>
            <p>Tél. : 06 45 18 16 64</p>
            <p>Email : julia-legrand@orange.fr</p>

            <h2>Hébergeur du site</h2>
            <p>Nom de l'hébergeur</p>
            <p>Raison sociale</p>
            <p>Adresse</p>
            <p>Numéro de SIRET</p>
            <p>Tél. : </p>

            <h2>Conditions générales d’utilisation</h2>
            <p>Pour un meilleur confort d’utilisation, nous vous recommandons de recourir à des navigateurs modernes comme Chrome, Firefox, Safari. </p>
            <p>Nous mettons en œuvre tous les moyens dont nous disposons pour assurer une information fiable et une mise à jour fiable du site internet. Toutefois, des erreurs ou omissions peuvent survenir. Nous ne sommes en aucun cas responsable de l’utilisation faite de ces informations et de tout préjudice direct ou indirect pouvant en découler.</p>

        </div>
        <div class="blocRight">
            <h2>Propriété intellectuelle</h2>
            <p>Tout le contenu présent sur le site incluant les images, textes, animations ainsi que leur mise en forme sont la propriété exclusive de Julia LEGRAND à l’exception des marques, logos ou contenus appartenant à d’autres sociétés.</p>
            <p>Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l’accord par écrit de Julia LEGRAND. Cette reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des contenus copiés pourraient intenter une action en justice à votre encontre.</p>

            <h2>Données personnelles</h2>
            <p>De manière générale, vous n’êtes pas tenus de nous communiquer vos données personnelles lorsque vous visitez ce site. Cependant, vous pouvez être amenés à nous communiquer certaines données si vous remplissez le formulaire de contact.</p>
            <p>Nous collectons de manière automatique certaines informations vous concernant lors d’une simple navigation sur notre site, notamment : des informations concernant l’utilisation de notre site, comme les zones que vous visitez, le type de votre navigateur ou vos temps d’accès. Ces informations sont utilisées exclusivement à des fins de statistiques d’audience.</p>
            <p>Enfin, les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.</p>
        </div>
    </div>
</main>
{% endblock %}