{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<main class="mainLegals">
    <h1>Politique de confidentialité</h1>
        <div class="blocsLegals">
        <div class="blocLeft">
            <h2>Collecte de l'information</h2>
            <p>Nous recueillons des informations lorsque vous naviguez sur le site et lorsque vous remplissez l’un des formulaires. En outre, nous recevons et enregistrons automatiquement des informations à partir de votre ordinateur et navigateur, comme votre adresse IP, le type de matériel et de navigateur utilisé.</p>
            
            <h2>Utilisation des informations</h2>
            <p>Toute les informations que nous recueillons auprès de vous peuvent être utilisées pour personnaliser votre expérience et répondre à vos besoins individuels, améliorer notre site Web ou vous contacter par email.</p>
        
            <h2>Divulgation à des tiers</h2>
            <p>Nous ne vendons, n’échangeons et ne transférons pas vos informations personnelles identifiables à des tiers. Cela ne comprend pas les tierces parties de confiance qui nous aident à exploiter notre site Web, tant que ces parties conviennent de garder ces informations confidentielles.</p>
        
            <h3>Droit d’accès, de modification et de suppression de vos données</h3>
            <p>Nous nous engageons à vous offrir un droit d’opposition et de retrait quant à vos renseignements personnels. Le droit d’opposition s’entend comme étant la possibilité offerte aux internautes de refuser que leurs renseignements personnels soient utilisés à certaines fins mentionnées lors de la collecte.</p>
            <p>Si, à tout moment, vous souhaitez avoir accès aux informations personnelles vous concernant, ou si vous souhaitez les modifier ou les supprimer, il vous suffit d’en faire la demande directement via notre formulaire de contact.</p>
        </div>
        <div class="blocRight">
            <h2>Protection des informations et données personnelles</h2>
            <p>L’internaute peut être amené à déposer certaines données personnelles en répondant au formulaire qui lui est proposé. La saisie de ces données est nécessaire au traitement de sa demande.</p>
            <p>Nous nous engageons à respecter les dispositions de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, et prendre toute précaution nécessaire pour préserver la sécurité des informations nominatives confiées.</p>
            <p>Aucune information à caractère personnel ne sera communiquée à des sociétés tierces sans l’accord préalable et éclairé de l’internaute.</p>
            <p>Nous protégeons également vos informations hors ligne. Les ordinateurs et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé.</p>

            <h2>Informations relatives aux cookies sur notre site</h2>
            <p>L’information détaillée des cookies et leurs gestions sur le site est accessible par simple demande via notre formulaire de contact.</p>
        
            <h3>Pour pouvoir exercer ces droits, vous pouvez nous contacter à ces coordonnées :</h3>
            <p>Madame Julia LEGRAND</p>
            <p>7 avenue Gabrielle</p>
            <p>44380 PORNICHET</p>
            <p>Tél. : 06 45 18 16 64</p>
            <p>Email : julia-legrand@orange.fr</p>
        </div>
    </div>
</main>
{% endblock %}