<form method="post" action="{{ path('app_contacts_delete', {'id': contact.id}) }}" onsubmit="return confirm('Êtes-vous sûre de supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button type="submit" style="border:none; background-color:white; color:black; margin-left: 8px;"><i class="fa-regular fa-trash-can"></i></button>
</form>
