<footer>
    <div class="footerBloc">
        <div class="bloc-left">
            <img src="{{ asset('images/logo2.png') }}" alt="logo">
            <div class="socials">
                <a href="" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="bloc-right">
            <div class="list">
                <ul>
                    <li><a href="#une-section">À LA UNE</a></li>
                    <li><a href="#main-section">ARTICLES</a></li>
                    <li><a href="#contact-section">CONTACT</a></li>
                    <li><a href="/espace-redacteurs">ESPACE RÉDACTEURS</a></li>
                </ul>
            </div>
            <div class="list">
                <ul>
                    <li><a href="https://www.condenast.com">CONDÉ NAST</a></li>
                    <li><a href="https://www.vogue.fr">VOGUE</a></li>
                    <li><a href="https://www.vanityfair.fr">VANITY FAIR</a></li>
                    <li><a href="https://www.gqmagazine.fr">GQ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footerBloc">
        <div class="legals">
            <small><a href="/politique-de-confidentialite" target="_blank">Politique de confidentialité</a> | <a
                    href="/mentions-legales" target="_blank">Mentions légales</a></small>
        </div>
        <div class="brand">
            <small>2023 | Les publications de Condé Nast</small>
        </div>
    </div>
</footer>