<header>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="navbar-brand">
            <img src="{{ asset('images/logo.png') }}" alt="logo" width="250px" height="auto">
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#une-section">À LA UNE</a>
            <a class="nav-item nav-link" href="#main-section">ARTICLES</a>
            <a class="nav-item nav-link" href="#contact-section">CONTACT</a>
        </div>
    </nav>
</header>